.grid li{
    width:25%;
    text-align:center;
    font-size: 0.8rem; 
    margin-bottom: 1rem;
}
.grid img{
    width:90%;
}
.grid{
    padding: 0;
}
li {
    display:inline-block;
}
.using-inline-block{
    font-size:0;
}
.using-flex{
    display: flex; 
    flex-wrap: wrap;
}
.grid using-grid ul{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.grid using-grid li{
    width:100%;
}