h1{
    text-align: center;
}
img.align{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}