img.full-screen{
    max-width: 100%;
}
img.square{
    width:280px;
    height: 280px;
    object-fit: cover;
    object-position: left center;
}
.background-image-example{
    background-image: url(https://wudesign.me/resources/using-images/images/shelf-cloud-vertical.jpg);
    padding: 10% 5% 45% 40%;
    background-position: center 20%;
    background-size: cover;
}