header {
    margin-bottom: 3rem;
}
h1{
    font-size:2.5rem;
    font-weight: 400;
    border-top: 1px solid black;
}
p {
    line-height: 1.6;
}

a.see-all{
    font-size:0.8em;
    text-transform: uppercase;
}
section{
    text-transform: uppercase;
    font-size:1rem;
}
.castmember{
    width:25%
}
li.selected > a{
    color:black;
    font-weight:bold;
}
a > div.first-child{
    font-weight:bold;
}
img{
    width:100%;
}
ul > li{
    width:25%;
}